<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url("/assets/ds1.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .forgot-password-container {
           
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            text-align: center;

            background-color:transparent;
                border: 2px;;
                color:azure;
                outline:none;
                resize: vertical;
                position: absolute;
                border-bottom: solid;
                border-bottom-color: #adadad;
                border-bottom-width: 1px;
        }

        h2 {
            color: #333;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <p>Enter your email address to reset your password.</p>
    <form action="#" method="post">
        <input type="email" name="email" id="em" placeholder="Email" required>
        <br>
        <button type="submit" class="btn" onclick="displayAlert()">Reset Password</button>
    </form>
    <br>
    <label id = "lab"></label>
</div>

<script>
    var mail = document.getElementById('em');
        var m = mail.textContent;
    var lab = document.getElementById('lab');
    function displayAlert() {
        
        axios.get('/sendotp', {
                params: {
                    mailid:m
                }
            })
                .then(response => {
                    lab.innerHTML = "sent otp";
                })
                .catch(error => {
                    console.error('Error:', error);
                });
    }
</script>

</body>
</html>
