<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3e6acf71f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style_home.css">

    <title>SBOS</title>
</head>
<!-- <frameset rows="8%,32%,60%" border="0">
    <frame src="/assets/204-2040208_padlock-free-png-image-lock-png-icon-transparent.png" scrolling="no"></frame>
    <frame src="/assets/ds.jpeg" scrolling="no"></frame>
    <frameset cols="80%,20%">
        <frame src="/assets/image1.jpeg"></frame>         
        <frame src="/assets/mail.png" scrolling="no"></frame>
    </frameset>
</frameset>  -->

<body>
    <header>

        <input type="checkbox" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">SBOS <span>.</span></a>

        <nav class="navbar">
            <a href="/home2">Home</a>
            <a href="/show">Events</a>
            <a href="/movies">Movies</a>
        </nav>

        <div class="logo">
            <a href="#" class="logo"><i class="far fa-heart"></i></a>
            <a href="/userprofile" class="logo"><i class="fas fa-user"></i></a>


        </div>

    </header>
    <section class="pos">

        <div class="slideshow mid">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">
                <div class="slide s1"><img src="/assets/mp.webp" alt=""></div>
                <div class="slide"><img src="/assets//mp2.jpg" alt=""></div>
                <div class="slide"><img src="/assets/mp3.jpg" alt=""></div>
                <div class="slide"><img src="/assets/mp4.jpg" alt=""></div>
                <div class="slide"><img src="/assets/mp5.jpg" alt=""></div>
            </div>


            <div class="nav">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
                <label for="r5" class="bar"></label>
            </div>
        </div>
    </section>
    <section class="products" id="products">
        <h1 class="heading"> Latest <span>Releases</span></h1>
        <div class="boxc">
            <div class="box">
                <span class="discount">U/A</span>
                <div class="image" id="tr">
                    <img src="/assets/image1.jpeg" alt="">
                    <div class="icons">

                        <a href="/mov_time" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Truffle</h3>
                    <div class="price"> IMDB- 9.1/10 </div>
                </div>
            </div>
            <div class="box">
                <span class="discount">A</span>
                <div class="image">
                    <img src="/assets/image2.jpeg" alt="">
                    <div class="icons">

                        <a href="/seates" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Macaroons</h3>
                    <div class="price">IMDB- 8.7/10</div>
                </div>
            </div>
            <div class="box">
                <span class="discount">A</span>
                <div class="image">
                    <img src="/assets/image3.jpeg" alt="">
                    <div class="icons">

                        <a href="#" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Pinky Bliss</h3>
                    <div class="price"> IMDB- 8.4/10 </div>
                </div>
            </div>
            <div class="box" id="p">
                <span class="discount">U/A</span>
                <div class="image">
                    <img src="/assets/image4.jpeg" alt="">
                    <div class="icons">

                        <a href="#" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Cheesecake</h3>
                    <div class="price"> IMDB- 8.5/10</div>
                </div>
            </div>
            <div class="box">
                <span class="discount">U/A</span>
                <div class="image">
                    <img src="/assets/image5.jpeg" alt="">
                    <div class="icons">

                        <a href="#" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Choco Drizzle Pastry</h3>
                    <div class="price">IMDB- 7.1/10</div>
                </div>
            </div>
            <div class="box">
                <span class="discount">U/A</span>
                <div class="image">
                    <img src="/assets/image6.jpeg" alt="">
                    <div class="icons">

                        <a href="#" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Cupcake</h3>
                    <div class="price">IMDB- 7.9/10</div>
                </div>
            </div>
            <div class="box">
                <span class="discount">U/A</span>
                <div class="image">
                    <img src="/assets/image6.jpeg" alt="">
                    <div class="icons">

                        <a href="/seates" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Cupcake</h3>
                    <div class="price">IMDB- 7.9/10</div>
                </div>
            </div>
            <div class="box">
                <span class="discount">U/A</span>
                <div class="image">
                    <img src="/assets/image6.jpeg" alt="">
                    <div class="icons">

                        <a href="#" class="cart-btn">Watch Now</a>

                    </div>
                </div>
                <div class="content">
                    <h3>Cupcake</h3>
                    <div class="price">IMDB- 7.9/10</div>
                </div>
            </div>

        </div>


    </section>


</body>

</html>